<% if tasks.any? %>
<aside class="card col-md-4">
  <div class="status">
    <div class="taskname">
      <%= task.content %>
    </div>
    <%= form_with(model: @task_todo, local: true) do |f| %>
    <div><%= hidden_field_tag :task_id, task.id %></div>
    <%= f.submit '着手', class: 'btn btn-outline-primary' %>
    <% end %>
  </div>
</aside>
<% end %>