  <div class="task_todo col-md-4">
    <h4>Todo</h4>
    <%= render "tasks/task_todo", tasks: @task_todo %>
  </div>
  <div class="task_doing col-md-4">
    <h4>Doing</h4>
    <%= render "tasks/task_doing", tasks: @task_doing %>
  </div>
  <div class="task_done col-md-4">
    <h4>Done</h4>
    <%= render "tasks/task_done", tasks: @task_done %>
  </div>