<% if task.any? %>
<aside class="card col-md-4">
  <div class="taskname">
    <%= task.content %>
  </div>
  <%= form_with(model: @task_doing, local: true) do |f| %>
  <div><%= hidden_field_tag :task_id, task.id %></div>
  <%= f.submit '完了', class: 'btn btn-primary' %>
  <% end %>
</aside>
<% end %>