<% if user_signed_in? %>
<section class="tasks_form">
  <%= render 'tasks/task_form' %>
</section>
<% end %>

<h4 class="tasks">タスク一覧</h4>
<section class="tasklist">
  <%= render 'tasks/task'%>
</section>