@import "bootstrap";

// タスク一覧の編集
.tasklist {
  .task_todo {
    float: left;
  }

  .task_doing {
    float: left;
  }

  .task_done {
    float: left;
  }

  .card todo {
    background-color: orange;
  }

  .card doing {
    background-color: orange;
  }

  .card done {}

  .card {
    margin-top: 30px;
    padding: 10px;
    margin-left: 20px;

    .taskname {
      display: inline-block;
    }

    .status {
      display: inline-block;
      text-align: right;
    }
  }

}

// タスク一覧のヘッダー部
h4.tasks {
  margin-top: 20px;
  text-align: center;
  border-bottom: solid 2px;
  border-bottom-color: lightblue;
}
